APP_ENV=qa
DEV_BASE_URL=https://rahulshettyacademy.com/client
QA_BASE_URL=https://rahulshettyacademy.com/client
BROWSER=chrome
HEADLESS=false
TEST_USER_EMAIL=arunchauhan000786@gmail.com
TEST_USER_PASSWORD=@Arunchauhan6387739490
